{% extends 'coordination_app/base.html' %}
{% load bootstrap %}

{% block title %}地域登録{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white text-center">
                    <h2>地域登録</h2>
                </div>
                <div class="card-body bg-secondary-subtle">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary btn-block mt-3 w-100">登録</button>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}